@media screen {

  .home-card-wrapper {
    gap: 10px;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .home-card-wrapper h1 {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
  }

  .link-card {
    gap: 20px;
    width: 100%;
    display: flex;
    padding: 10px;
    border-radius: 12px;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }

  .link-card h1 {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: capitalize;

  }

  .link-card:hover {
    box-shadow: none;
    color: var(--background-color);
    background-color: var(--secondary-color);
  }

  .country-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 360%;
    object-position: center;
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {
}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
