@media screen {

  .home-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-container {
    gap: 20px;
    width: 100%;
    display: flex;
    padding: 10px;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    
  }

  .nothing-container {
    height: 70vh;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .nothing-container p {
    font-size: .8rem;
    font-weight: 200;
    color: var(--secondary-color);
  }

  .nothing-img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
  }
  .home-component {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 30px;
    background-color: var(--background-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }


  .home-header {
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    border-bottom: 1px solid var(--background-light);
  }

  .home-header h1 {
    font-weight: 500;
    font-size: 1rem;
  }

  .home-header p {
    font-size: 0.9rem;
    color: var(--primary-color);
  }

  .home-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .home-inner h1 {
    font-size: 1rem;
    font-weight: 500;
  }

  .home-details {
    gap: 15px;
    max-height: 70vh;
    min-height: 70vh;
    overflow: hidden;
    overflow-y: auto;
    flex-direction: column;
  }

  .link-inner-details {
    gap: 10px;
    display: flex;
    padding: 10px;
    cursor: pointer;
    position: relative;
    align-items: center;
  }

  .active {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }

  .link-inner-details p {
    font-size: 0.9rem;
  }

  .link-item {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .link-image {
    width: 50px;
    height: 50px;
    object-fit: contain;
    border-radius: 15px;
    object-position: center;
  }

  .hover-link-info {
    top: 80px;
    width: 100%;
    right: 0;
    z-index: 100;
    display: none;
    padding: 10px;
    position: absolute;
    border-radius: 8px;
    color: var(--background-color);
    background-color: var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }

  .hover-link-info p {
    font-size: 0.9rem;
  }

  .link-inner-details:hover .hover-link-info {
    display: flex;
  }

  .links-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  .link-item {
    display: flex;
    padding: 10px;
    align-items: center;
    border-radius: 30px;
    color: var(--background-color);
    background-color: var(--secondary-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  }

  .link-item p {
    width: 50%;
    font-size: 0.9rem;
  }

  .link-btn-container {
    display: flex;
    position: relative;
    align-items: center;
  }

  .link-btn-copy {
    gap: 10px;
    display: flex;
    cursor: pointer;
    font-size: 0.9rem;
    padding: 5px 10px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    color: var(--secondary-color);
    background-color: var(--background-color);
  }

  .link-btn-copy span {
    display: none;
  }

  .link-btn-share {
    left: 20px;
    width: 40px;
    bottom: 24px;
    height: 40px;
    display: flex;
    cursor: pointer;
    position: absolute;
    align-items: center;
    border-radius: 360%;
    justify-content: center;
    background-color: var(--secondary-color);
    border: 2px solid var(--background-color);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

  .link-icon {
    height: 20px;
    width: 20px;
    fill: var(--secondary-color);
  }

  .link-icon-share {
    height: 20px;
    width: 20px;
    fill: var(--background-color);
  }
}

/* using it as global style for larger devices  */
@media only screen and (min-width: 48em) {

  .home-wrapper {
    height: 100%;
  }

  .home-container {
    padding: 0;
  }

  .home-component {
    width: 50%;
    padding: 15px 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

  }

  .link-btn-copy span {
    display: flex;
  }
  

  .home-details {
    margin: 10px 0;
    min-height: 30vh;
    max-height: 340px;
  }


  .link-btn-share {
    left: 90px;
    bottom: 20px;
  }

}

/* ipad pro screens & laptop */
@media only screen and (min-width: 49em) and (max-width: 64em) {
}

/* large screens : Desktop and 4k screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) {
}

/* 5k screens and above */
@media only screen and (min-width: 91em) {
}
